<?xml version="1.0" encoding="utf-8"?>
<!-- // Make sure to set 'Copy To Output Directory' option for this file in Visual Studio file properties. -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="Tagolog.NLog" />
    </extensions>
    <targets>
        <target name="HumanReadableConsole" xsi:type="ColoredConsole"
            layout="${tagologmdcitem:item=Application} ${date:format=HH\:mm\:ss} ${level:upperCase=true} ${message}${newline}${tagologmdc:tagKey=#tagKey#:tagValue=#tagValue#:orderBy=true:builtInTags=true:format=  [#tagKey#\:#tagValue#]\\n}">
        </target>
        <target name="JsonConsole" xsi:type="ColoredConsole">
            <layout xsi:type="TagologJsonLayout" SuppressSpaces="True" BuiltInTagsEnabled="True">
                <attribute name="TimestampLocal" layout="${date:format=HH\:mm\:ss}" />
                <attribute name="Level" layout="${level:upperCase=true}"/>
                <attribute name="Message" layout="${message}" />
                <attribute name="Exception" layout="${exception:format=ToString}" />
            </layout>
        </target>
        <target name="HumanReadableFile" xsi:type="File" fileName="${basedir}/${tagologmdcitem:item=Application}.log.txt"
            layout="${date:format=HH\:mm\:ss} ${level} ${message}${newline}${tagologmdc:tagKey=#tagKey#:tagValue=#tagValue#:orderBy=true:builtInTags=false:format=  [#tagKey#\:#tagValue#]\\n}" />
        <target name="JsonFile" xsi:type="File" fileName="${basedir}/log.json.txt" >
            <layout xsi:type="TagologJsonLayout" SuppressSpaces="True" BuiltInTagsEnabled="True">
                <attribute name="TimestampLocal" layout="${longdate}" />
                <attribute name="TimestampUtc" layout="${longdate:universalTime=true}" />
                <attribute name="Level" layout="${level:upperCase=true}"/>
                <attribute name="Message" layout="${message}" />
                <attribute name="Exception" layout="${exception:format=ToString}" />
                <attribute name="CallSite" layout="${callsite}, ${callsite-linenumber}" />
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="HumanReadableConsole,JsonConsole,HumanReadableFile,JsonFile" />
    </rules>
</nlog>
