<?xml version="1.0" encoding="utf-8"?>
<!-- // Make sure to set 'Copy To Output Directory' option for this file in Visual Studio file properties. -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="Tagolog.NLog" />
    </extensions>
    <targets>
        <target
            name="Console"
            xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="false"
            layout="${date:format=HH\:mm\:ss} ${level} ${message}${newline}${tagologmdc:tagKey=#tagKey#:tagValue=#tagValue#:orderBy=true:builtInTags=false:format=  [#tagKey#\:#tagValue#]\\n}">
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
        </target>
        <target
            name="HumanReadableFile"
            xsi:type="File"
            fileName="${basedir}/log.txt"
            layout="${date:format=HH\:mm\:ss} ${level} ${message}${newline}${tagologmdc:tagKey=#tagKey#:tagValue=#tagValue#:orderBy=true:builtInTags=false:format=  [#tagKey#\:#tagValue#]\\n}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="Console,HumanReadableFile" />
    </rules>
</nlog>
