<?xml version="1.0" encoding="utf-8"?>
<!-- // Make sure to set 'Copy To Output Directory' option for this file in Visual Studio file properties. -->
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="Tagolog.NLog" />
    </extensions>
    <targets>
        <target
            name="Console"
            xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="false"
            layout="{&quot;version&quot;:&quot;1.1&quot;,&quot;host&quot;:&quot;qwe&quot;,&quot;short_message&quot;:&quot;${message}&quot;,${tagologmdc:tagKey=#tagKey#:tagValue=#tagValue#:orderBy=true:builtInTags=false:Separator=,:format=&quot;#tagKey#&quot;\:&quot;#tagValue#&quot;}}">
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
        </target>
        <target
            name="HumanReadableFile"
            xsi:type="File"
            fileName="log.txt"
            layout="${level} ${message}" />
        <target
            name="JsonFile"
            xsi:type="File"
            fileName="log.json.txt"
            layout='{"date":"${longdate}","level":"${level}","message":"${message:json-encode=true}"${tagologmdc:tagKey=tagKey:tagValue=tagValue:orderBy=true:builtInTags=false:Prefix=,:Separator=,:format="tagKey"\:"tagValue"}}' />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="Console,HumanReadableFile,JsonFile" />
    </rules>
</nlog>
