<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="tagolog" type="Tagolog.ConfigurationSectionHandler, Tagolog" />
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <tagolog>
        <logAdapter type="Tagolog.NLog.LogAdapter, Tagolog.NLog" />
    </tagolog>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <extensions>
            <add assembly="Tagolog.NLog" />
        </extensions>
        <targets>
            <target name="BuiltInTagsEnabledNone" xsi:type="Memory">
                <layout xsi:type="TagologJsonLayout" />
            </target>
            <target name="BuiltInTagsEnabledTrue" xsi:type="Memory">
                <layout xsi:type="TagologJsonLayout" BuiltInTagsEnabled="True" />
            </target>
            <target name="BuiltInTagsEnabledFalse" xsi:type="Memory">
                <layout xsi:type="TagologJsonLayout" BuiltInTagsEnabled="False" />
            </target>
            <target name="TagsKeyPrefix" xsi:type="Memory">
                <layout xsi:type="TagologJsonLayout" TagsKeyPrefix="Prefix" />
            </target>
            <target name="TagologJsonLayoutSmokeUnitTest" xsi:type="Memory">
                <layout xsi:type="TagologJsonLayout" SuppressSpaces="True">
                    <attribute name="TimestampLocal" layout="${longdate}" />
                    <attribute name="TimestampUtc" layout="${longdate:universalTime=true}" />
                    <attribute name="Level" layout="${level:upperCase=true}"/>
                    <attribute name="Message" layout="${message}" />
                    <attribute name="Exception" layout="${exception:format=ToString}" />
                    <attribute name="CallSite" layout="${callsite}, ${callsite-linenumber}" />
                    <attribute name="CorrelationManager.ActivityId" layout="${activityid}" />
                </layout>
            </target>
        </targets>
        <rules>
            <logger name="BuiltInTagsEnabledNone" minlevel="Trace" writeTo="BuiltInTagsEnabledNone" />
            <logger name="BuiltInTagsEnabledTrue" minlevel="Trace" writeTo="BuiltInTagsEnabledTrue" />
            <logger name="BuiltInTagsEnabledFalse" minlevel="Trace" writeTo="BuiltInTagsEnabledFalse" />
            <logger name="TagsKeyPrefix" minlevel="Trace" writeTo="TagsKeyPrefix" />
            <logger name="Tagolog.NLog.UnitTests.TagologJsonLayoutSmokeUnitTest" minlevel="Trace" writeTo="TagologJsonLayoutSmokeUnitTest" />
        </rules>
    </nlog>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
