<!-- nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" -->
<nlog internalLogFile="d:\Temp\tagolog.nlogfile.txt" internalLogLevel="Trace" throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="Tagolog.NLog" />
    </extensions>
    <targets>
        <target name="PlainTextLayoutOnInMemoryTarget" xsi:type="Memory" layout="${date:format=HH\:mm\:ss} ${level:upperCase=true} ${message}${newline}" />
        <target name="JsonLayoutOnInMemoryTarget" xsi:type="Memory">
            <layout xsi:type="JsonLayout" SuppressSpaces="True">
                <attribute name="TimestampUtc" layout="${longdate:universalTime=true}" />
                <attribute name="Level" layout="${level:upperCase=true}"/>
                <attribute name="Message" layout="${message}" />
            </layout>
        </target>
        <target name="BuiltInTagsEnabledNone" xsi:type="Memory">
            <layout xsi:type="TagologJsonLayout">
                <attribute name="TimestampUtc" layout="${longdate:universalTime=true}" />
                <attribute name="Level" layout="${level:upperCase=true}"/>
                <attribute name="Message" layout="${message}" />
            </layout>
        </target>
        <target name="BuiltInTagsEnabledTrue" xsi:type="Memory">
            <layout xsi:type="TagologJsonLayout" BuiltInTagsEnabled="True">
                <attribute name="TimestampUtc" layout="${longdate:universalTime=true}" />
                <attribute name="Level" layout="${level:upperCase=true}"/>
                <attribute name="Message" layout="${message}" />
            </layout>
        </target>
        <target name="BuiltInTagsEnabledFalse" xsi:type="Memory">
            <layout xsi:type="TagologJsonLayout" BuiltInTagsEnabled="False">
                <attribute name="TimestampUtc" layout="${longdate:universalTime=true}" />
                <attribute name="Level" layout="${level:upperCase=true}"/>
                <attribute name="Message" layout="${message}" />
            </layout>
        </target>
        <target name="TagsKeyPrefix" xsi:type="Memory">
            <layout xsi:type="TagologJsonLayout" TagsKeyPrefix="Prefix">
                <attribute name="TimestampUtc" layout="${longdate:universalTime=true}" />
                <attribute name="Level" layout="${level:upperCase=true}"/>
                <attribute name="Message" layout="${message}" />
            </layout>
        </target>
        <target name="TagologJsonLayoutSmokeUnitTest" xsi:type="Memory">
            <layout xsi:type="TagologJsonLayout" SuppressSpaces="True">
                <attribute name="TimestampLocal" layout="${longdate}" />
                <attribute name="TimestampUtc" layout="${longdate:universalTime=true}" />
                <attribute name="Level" layout="${level:upperCase=true}"/>
                <attribute name="Message" layout="${message}" />
                <attribute name="Exception" layout="${exception:format=ToString}" />
                <attribute name="CallSite" layout="${callsite}, ${callsite-linenumber}" />
                <attribute name="CorrelationManager.ActivityId" layout="${activityid}" />
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="PlainTextLayoutOnInMemoryTarget" minlevel="Trace" writeTo="PlainTextLayoutOnInMemoryTarget" />
        <logger name="JsonLayoutOnInMemoryTarget" minlevel="Trace" writeTo="JsonLayoutOnInMemoryTarget" />
        <logger name="BuiltInTagsEnabledNone" minlevel="Trace" writeTo="BuiltInTagsEnabledNone" />
        <logger name="BuiltInTagsEnabledTrue" minlevel="Trace" writeTo="BuiltInTagsEnabledTrue" />
        <logger name="BuiltInTagsEnabledFalse" minlevel="Trace" writeTo="BuiltInTagsEnabledFalse" />
        <logger name="TagsKeyPrefix" minlevel="Trace" writeTo="TagsKeyPrefix" />
        <logger name="Tagolog.NLog.UnitTests.TagologJsonLayoutSmokeUnitTest" minlevel="Trace" writeTo="TagologJsonLayoutSmokeUnitTest" />
    </rules>
</nlog>
